/* Project = just card behavior */
.project-content {
	width: 100%;
	min-width: 0;
	transition: max-height .3s ease;
}

.project-content.is-open {
    max-height: 500px;
}

.project-list {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
	margin-top: var(--space-md);

	min-width: 0;
}

.project-item {
	background: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid var(--border);

	border-radius: 0;
	padding: var(--space-md);

	transition: .2s;

	min-width: 0;
}

.project-item:hover {
	border-color: transparent;
}

.project-item.is-open {
	border-color: transparent;
	box-shadow: transparent 0px 0px 0px 0px, var(--shadow) 0px 2px 4px 0px;
}

.project-item--locked::after {
    content: " 🔒";
    font-size: 0.85em;
    opacity: 0.7;
}